@import "../variables.scss";
@import "../mixin/lists.scss";

.advantages__list {
  @include list-reset;
}

.advantages__item--blue {
  color: $white;
  background-color: #81b3d2;
}

.advantages__title {
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
