@import "../variables.scss";

.author--caption {
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $black;
  text-transform: none;
  background-color: #ffffff;
}

.author--name {
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $black;
  text-transform: none;
  background-color: #ffffff;
}

.author--likes-counter {
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $black;
  text-transform: none;
  background-color: #ffffff;
}
