@import "../variables";

.copyright__text {
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  background-color: #ffffff;
}
