.copyright__text {
  font-weight: normal;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  background-color: #ffffff;
}
