@import "../variables";

.input-contacts__title {
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  background-color: #ffffff;
}

.input-contacts__caption {
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  background-color: #ffffff;
}

.input-contacts__text {
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: none;
  background-color: #ffffff;
}

.input-contacts__text::placeholder {
  color: inherit;
}
