@import "../variables";

.page-footer {
  color: $black;
}

.page-footer__hashtag {
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  background-color: #ffffff;
}
