.page-footer {
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 23px;
}

.page-footer__hashtag {
  font-weight: bold;
  font-family: $font-family-base;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  background-color: #ffffff;
}
