.photos__picture--name {
  font-weight: bold;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;
  background-color: #ffffff;
}
