@import "../variables";

.reviews {
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;
  background-color: #ffffff;
}

.reviews__title {
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
  background-color: #ffffff;
}
